/**
 *	当前leaflet的所有自定义样式
 */
@CHARSET "UTF-8";
body, html, #map {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0;
	font-family: "微软雅黑";
	z-index: 100;
	position: absolute;
}
.table {
	border-collapse: collapse;
	width: 272px;
	text-align: center;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #ddd;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*无人机图标的样式*/
.uavImgStyle{
	/* box-shadow: 0px 7px 11px 2px rgba(0, 0, 0, 0.4); */
    border-radius: 25px;
}
.uavImgStyle>img{
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 5px;
}
.uavArrowStyle{
	position: absolute;
	width: 40px;
	height: 40px;
}
/*呼吸样式*/
.breatheStyle{
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-name:breathe;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	
	animation-timing-function:ease-in-out;
	animation-name:breathe;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
@-webkit-keyframes breathe {
	0% {
		opacity:.6;
	}
	100% {
		opacity:1;
	}
}
@keyframes breathe {
	0% {
		opacity:.6;
	}
	100% {
		opacity:1;
	}
}
/*存在告警的无人机图标样式*/
.warnUavDivStyle{
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
}
/*存在30秒预警的无人机图标样式*/
.earlyWarn30UavDivStyle{
	-webkit-animation-duration:1000ms;
	animation-duration:1000ms;
}
/*存在60秒预警的无人机图标样式*/
.earlyWarn60UavDivStyle{
	-webkit-animation-duration:1500ms;
	animation-duration:1500ms;
}
/*存在事件的无人机图标样式*/
.eventUavDivStyle{
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
}
/*统计页面无人机图标样式*/
.countUavImgStyle{
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
}
/*正常的无人机图标样式*/
.normalUavDivStyle{
	/* -webkit-animation-duration:500ms; 
	animation-duration:500ms; */
}
/*无人机图标的样式*/
.normalUavImgStyle{
	background-color: #47AA3F;
	border-radius: 16px;
	width: 30px;
	height: 30px;
}
/*存在告警的无人机图片底色*/
.warnUavImgStyle{
	background-color: #FE4242;
	border-radius: 16px;
	width: 30px;
	height: 30px;
}
/*存在30秒预警的无人机图片底色*/
.earlyWarn30UavImgStyle{
	background-color: #FFBD50;
	border-radius: 16px;
	width: 30px;
	height: 30px;
}
/*存在60秒预警的无人机图片底色*/
.earlyWarn60UavImgStyle{
	background-color: #FFBD50;
	border-radius: 16px;
	width: 30px;
	height: 30px;
}
/*存在未处置事件的无人机图片底色*/
.eventUavImgStyle{
	background-color: #710138;
	border-radius: 16px;
	width: 30px;
	height: 30px;
}
/*存在告警的无人机label样式*/
.warnUavLabelStyle {
	background-color: #FE4242;
	font-size: 12px;
	height: 28px;
	border: 0px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	float: left;
	z-index: 50000 !important;
}
/*存在30秒预警的无人机label样式*/
.earlyWarn30UavLabelStyle {
	background-color: #FFBD50;
	font-size: 12px;
	height: 28px;
	border: 0px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	float: left;
	z-index: 2000 !important;
}
/*存在60秒预警的无人机label样式*/
.earlyWarn60UavLabelStyle {
	background-color: #FFE8C2;
	font-size: 12px;
	height: 28px;
	border: 0px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	float: left;
	z-index: 1000 !important;
}
/*未告警的无人机label样式*/
.nomalUavLabelStyle {
	background-color: #ffffff;
	font-size: 12px;
	height: 28px;
	border: 0px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	float: left;
	z-index: 100 !important;
}
/*存在事件的无人机label样式*/
.eventUavLabelStyle {
	background-color: #710138;
	font-size: 12px;
	height: 28px;
	border: 0px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	float: left;
	color: #fdfdfd;
	z-index: 100000 !important;
}
/*覆盖物上的label的样式*/
.overlayLabelStyle{
}
.jqOrMhDiv{
	right: 45px;
	top: -37px;
}
.jqDiv {
	cursor: pointer;
 	float: left; 
	box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
	background: rgb(255, 255, 255);
	padding: 4px 0px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.3em;
	font-family: arial, sans-serif;
	text-align: center;
	white-space: nowrap;
	border-radius: 0px 0px 2px 2px;
	color: #000;
	width:30px;
}

.mhDiv {
	cursor: pointer;
 	float: left; 
	box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
	background: #1462C8;
	color:#fff;
	padding: 4px 0px;
	font-style: normal;
	font-variant: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.3em;
	font-family: arial, sans-serif;
	text-align: center;
	white-space: nowrap;
	border-radius: 2px 2px 0px 0px;
	font-weight: bold;
	width:30px;
}
.hide{
    display: none!important;
}
.leaflet-control-attribution>a {
	display: none;
}
.leaflet-tooltip-right{
	margin-left: 6px;
}
.leaflet-tooltip-right:before{
	border:none;
}
.leaflet-tooltip-bottom{
	margin-top: 6px;
}
.leaflet-tooltip-bottom:before{
	border:none;
}
.leaflet-tooltip-left{
	margin-right: 6px;
}
.leaflet-tooltip-left:before{
	border:none;
}
.leaflet-tooltip-top{
	margin-bottom: 6px;
}
.leaflet-tooltip-top:before{
	border:none;
}
a{
	cursor: pointer;
}
.leaflet-marker-pane{
	z-index: 700;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
	border-width: 1px;
}
/*各种Marker的label样式*/
.gudingshiStyle {
	padding: 2px 6px 2px 6px;
	color: #1462C8;
}
.fanzhiStyle {
	padding: 2px 6px 2px 6px;
	color: #1462C8;
}
/*label前面的箭头样式*/
.labelJiantouStyle{
	margin-bottom: -17px;
	width: 0;
	height: 0;
	border-width: 9px;
	border-style: solid;
	border-color: #000000 transparent transparent transparent;
}
/*ADSB飞机的样式*/
.adsbMarkerStyle{
	z-index: 9999999;
}
/*ADSB飞机航线样式*/
.planeLinesStyle{
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
	margin-left: -6px;
	color: #11539E;
}
/*适飞空域的空域名称样式*/
.flyingPolygonNameStyle{
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
	font-size: 8px;
	margin: 0;
}
.flying30PolygonNameStyle{
	color: #002F99;
}
.flying50PolygonNameStyle{
	color: #0035FF;
}
.flying60PolygonNameStyle{
	color: #0035FF;
}
.flying90PolygonNameStyle{
	color: #00B8FF;
}
/*虚线*/
.dashLines{
	stroke-dasharray: 5;
}
.zIndex1000{
	z-index: 1000 !important;
}
.zIndex800{
	z-index: 800 !important;
}
.zIndex500{
	z-index: 500 !important;
}
.zIndex400{
	z-index: 400 !important;
}
